<div class='row'>

  <h1><strong>Categories</strong></h1>
  <% @tags.each do |tag| %>
    <div class='large-4 columns end'>
      <%= link_to tag_path(tag) do  %>
        <div class='callout tag-callout'>
          <h4><%= tag.titleize %></h4>
        </div>  
      <% end %>
    </div>
  <% end %>
</div>