<div class='category-index'>

  <div class="callout">
    <div class="row">
      <h1 class='main-blog-title'><strong><i>Categories</i></strong></h1>
    </div>
  </div>

  <div class="row">
    <% @tags.each do |tag| %>
      <div class='large-4 columns'>
        <%= link_to tag_path(tag) do  %>
          <div class='callout tag-callout'>
            <h4><%= tag.titleize %></h4>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
