<div class="row expanded callout">

    <div class="large-4 columns">
      <h5>BLOG CATEGORIES</h5>
      <% @all_tags.each do |tag| %>
        <span class="secondary label home-tag"><%= link_to tag.titleize, tag_path(tag) %></span>
      <% end %>
    </div>
   
    <div class="large-4 columns">
      <h5>LOCKWOOD LLC</h5>
      <p>Dedicated to helping people attain the body they've always wanted. Because life is better when you are in shape.</p>
    </div>

  </div>