<div class='container row'>
  <h1>Amazing things on the way!</h1>
  <div class="emailer">
    <!-- <h3>
      Add your email below to be notified
    </h3>
    <h5>Name</h5>
    <form>
      <input type='text' placeholder="Name" id='email-list-name-field' class='email-list-input'>
      <h5>Email</h5>
      <input type='text' placeholder="Email" id='email-list-email-field' class='email-list-input'>
      <input type='button' value="Notify Me" onclick='addNameToList()'> -->
    </form><br><br>
  </div>
</div>
<script>
